@mixin breakpoint-up($breakpoint) {
  @media (width >= map-get($grid-breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (width < $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin typo-family-light {
  font-family: var(--font-family-light);
  font-weight: normal;
}

@mixin typo-family-regular {
  font-family: var(--font-family-regular);
  font-weight: normal;
}

@mixin typo-family-medium {
  font-family: var(--font-family-medium);
  font-weight: normal;
}

@mixin typo-family-bold {
  font-family: var(--font-family-bold);
  font-weight: normal;
}
