@font-face {
  font-family: 'BrutalType-Regular';
  src: url('../assets/fonts/BrutalType-Regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrutalType-Light';
  src: url('../assets/fonts/BrutalType-Light-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrutalType-Medium';
  src: url('../assets/fonts/BrutalType-Medium-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrutalType-Bold';
  src: url('../assets/fonts/BrutalType-Bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}