@import "./_imports.scss";

body {
  background: var(--color-black);
  margin: 0;
}

* {
  box-sizing: border-box;
}

main:not(.home) {
  background-color: var(--color-white);
  color: var(--color-black);
}

a,
button {
  outline-offset: 4px;
}
