@import "./_imports.scss";

html {
  font-family: "Brutal Type", system-ui, sans-serif;
  // background-color: #ccc;
  // font-size: $font-size-tiny;
  // font-size: pxToRem(30);
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.video {
  max-width: 100%;
}

.video iframe {
  max-width: 100%;
  aspect-ratio: 16 / 9;
}
