.container {
  max-width: var(--max-content-width);
  padding-inline: var(--grid-padding);
  margin-inline: auto;
}

.grid {
  display: grid;
  grid-template-columns: [content-start] repeat(var(--grid-columns), 1fr) [content-end];
  @extend %grid-gap;

  &--row-gap-double {
    @extend %grid-row-gap-double;
  }

  > * {
    grid-column: content;
  }
}

.column {
  grid-column: content;

  &--main {
    @include breakpoint-up("xl") {
      grid-column: 1 / 8;
    }
  }

  &--side {
    @include breakpoint-up("xl") {
      grid-column: -5 / -1;
    }
  }
}

.section {
  padding-block: var(--spacing-12x);

  @include breakpoint-up("md") {
    padding-block: var(--spacing-20x);
  }
}

.stack {
  display: flex;
  flex-direction: column;
  @extend %grid-gap;
}
