---
import ContentLayout from "../layouts/ContentLayout.astro";
import { graphql } from "gql.tada";
import { client } from "../utils/graphql-client";
import Markdown from "../components/Markdown.astro";

const { slug } = Astro.params;

const query = graphql(`
  query ($slug: String!) {
    collection: pageCollection(where: { slug: $slug }) {
      items {
        title
        lead
        body
        slug
        menu
        menuButton
        showIntro
        showNews
        showSpeakers
        showVenue
        showSponsorshipCategories
        showSponsors
        showSponsorsDetailed
        showWorkshops
        showTeam
        showJobs
        showJobsDetailed
        showSchedule
        showHotels
        showRestaurants
        showCallForSpeakers
        showSpeakersBootcampForm
        bodyClass
        menuClass
        ctaText
        specialPage
        config
        leadLogosCollection(limit: 5) {
          items {
            url
          }
        }
        contentTeasersCollection(limit: 4) {
          items {
            body
            title
            ctaLabel
            body
            photo {
              url(
                transform: { width: 1200, height: 1200, resizeStrategy: FILL }
              )
            }
            link {
              ... on Page {
                slug
                title
              }
            }
          }
        }
      }
    }
  }
`);

const data = await client.request(query, {
  slug: slug as string,
});

const currentPage = data.collection?.items[0];

// TODO: double check if this is correct
if (!currentPage || !currentPage.title) {
  return {
    status: 404,
    error: "Page not found",
  };
}
---

<ContentLayout title={currentPage.title}>
  <!-- TODO: What about the lead, is this not used anymore? -->
  <!-- <p>{currentPage.lead}</p> -->
  {currentPage.body && <Markdown text={currentPage.body} />}
</ContentLayout>
