---
import Layout from "../layouts/Layout.astro";
import { marked } from "marked";

const { slug } = Astro.params;

const response = await fetch(
  "https://graphql.contentful.com/content/v1/spaces/j8md9ikrag2j/environments/test?access_token=rzFgLmMrf5EspzL9QgEyOTPtIWdc-jGBIdk5GKs4Rfg",
  {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      query: `
      query($slug: String!) {
          collection: pageCollection(where: { slug: $slug }) {
            items {
              title
              lead
              body
              slug
              menu
              menuButton
              showIntro
              showNews
              showSpeakers
              showVenue
              showSponsorshipCategories
              showSponsors
              showSponsorsDetailed
              showWorkshops
              showTeam
              showJobs
              showJobsDetailed
              showSchedule
              showHotels
              showRestaurants
              showCallForSpeakers
              showSpeakersBootcampForm
              bodyClass
              menuClass
              ctaText
              specialPage
              config
              leadLogosCollection(limit: 5) {
                items {
                  url
                }
              }
              contentTeasersCollection(limit: 4) {
                items {
                  body
                  title
                  ctaLabel
                  body
                  photo {
                    url(
                      transform: { width: 1200, height: 1200, resizeStrategy: FILL }
                    )
                  }
                  link {
                    ... on Page {
                      slug
                      title
                    }
                  }
                }
              }
            }
          }
        }
      `,
      variables: {
        slug,
      },
    }),
  }
);

const json = await response.json();
const {
  collection: {
    items: [currentPage],
  },
} = json.data;
const content = currentPage.body && marked.parse(currentPage.body);
---

<Layout title={currentPage.title}>
  <h1>{currentPage.title}</h1>
  <p>{currentPage.lead}</p>
  <div set:html={content} />
</Layout>
