---
import Layout from "../layouts/Layout.astro";
import { graphql } from "gql.tada";
import { client } from "../utils/graphql-client";
import Hero from "../components/Hero.astro";
import Markdown from "../components/Markdown.astro";

const { slug } = Astro.params;

const query = graphql(`
  query ($slug: String!) {
    collection: pageCollection(where: { slug: $slug }) {
      items {
        title
        lead
        body
        slug
        menu
        menuButton
        showIntro
        showNews
        showSpeakers
        showVenue
        showSponsorshipCategories
        showSponsors
        showSponsorsDetailed
        showWorkshops
        showTeam
        showJobs
        showJobsDetailed
        showSchedule
        showHotels
        showRestaurants
        showCallForSpeakers
        showSpeakersBootcampForm
        bodyClass
        menuClass
        ctaText
        specialPage
        config
        leadLogosCollection(limit: 5) {
          items {
            url
          }
        }
        contentTeasersCollection(limit: 4) {
          items {
            body
            title
            ctaLabel
            body
            photo {
              url(
                transform: { width: 1200, height: 1200, resizeStrategy: FILL }
              )
            }
            link {
              ... on Page {
                slug
                title
              }
            }
          }
        }
      }
    }
  }
`);

const data = await client.request(query, {
  slug: slug as string,
});

const currentPage = data.collection?.items[0];

// TODO: double check if this is correct
if (!currentPage || !currentPage.title) {
  return {
    status: 404,
    error: "Page not found",
  };
}
---

<Layout title={currentPage.title}>
  <Hero title={currentPage.title} />
  <!-- TODO: What about the lead, is this not used anymore? -->
  <!-- <p>{currentPage.lead}</p> -->
  <div class="white">
    <div class="content">
      <div class="content__inner">
        {currentPage.body && <Markdown text={currentPage.body} />}
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  @import "../styles/_imports.scss";

  .white {
    background-color: var(--color-white);
    color: var(--color-black);
  }

  .content {
    max-width: var(--max-content-width);
    padding: var(--spacing-12x) var(--grid-padding);
    margin: 0 auto;

    @include breakpoint-up("md") {
      padding: var(--spacing-20x) var(--grid-padding);

      &__inner {
        max-width: 920px;
        padding: 0 80px;
      }
    }

    @include breakpoint-up("xl") {
      padding: 120px var(--grid-padding);

      &__inner {
        padding: 0 120px;
      }
    }
  }
</style>
