---
import { Icon } from "astro-icon/components";
import { graphql } from "gql.tada";
import { client } from "../utils/graphql-client";
import Layout from "../layouts/Layout.astro";
import VenueTeaser from "../components/VenueTeaser.astro";
import SponsorList from "../components/SponsorList.astro";
import Ticket from "../components/Ticket.astro";
import introDesktop from "../assets/intro/introDesktop.svg?raw";
import introMobile from "../assets/intro/introMobile.svg?raw";

const query = graphql(`
  query {
    collection: pageCollection(limit: 1, where: { slug: "/" }) {
      items {
        showIntro
        showVenue
        showSponsors
      }
    }
  }
`);

const data = await client.request(query);

const page = data.collection?.items[0];
---

<Layout title="Front Conference Zurich" isHome>
  {
    page.showIntro && (
      <>
        <div class="introWrapper">
          <div class="intro intro--desktop">
            <Fragment set:html={introDesktop} class="introDesktop" />
          </div>
          <div class="intro intro--mobile">
            <Fragment set:html={introMobile} class="introMobile" />
          </div>
          <Ticket />
        </div>
        <div class="arrowWrapper">
          <button id="scrollTrigger" class="arrow">
            <Icon name="arrowDown" />
          </button>
        </div>
      </>
    )
  }
  {
    page.showVenue && (
      <div class="section" id="scrollTarget">
        <VenueTeaser />
      </div>
    )
  }
  {
    page.showSponsors && (
      <div class="container grid">
        <SponsorList variant="teaser" groupTitleTag="h4" />
      </div>
    )
  }
</Layout>

<style lang="scss">
  @import "../styles/_imports.scss";

  .introWrapper {
    position: relative;
    max-width: calc(var(--max-content-width) + 10%);
    margin-block-start: var(--spacing-6x);
    margin-inline: auto;
    container-type: inline-size;

    @include breakpoint-up("sm") {
      padding-inline: var(--grid-padding);
    }

    @include breakpoint-up("lg") {
      margin-block-start: var(--spacing-8x);
    }
  }

  .intro {
    display: none;

    :global(svg) {
      width: 100%;
      height: auto;
    }

    &.intro--mobile {
      display: block;
    }

    @include breakpoint-up("sm") {
      &.intro--mobile {
        display: none;
      }

      &.intro--desktop {
        display: block;
      }
    }
  }

  .arrowWrapper {
    display: flex;
    justify-content: center;
    margin-block-start: var(--spacing-16x);
  }

  .arrow {
    appearance: none;
    background: none;
    border: none;
    color: white;
    cursor: pointer;

    svg {
      width: pxToRem(80);
      height: pxToRem(24);
    }
  }
</style>

<script>
  const scrollTrigger = document.getElementById("scrollTrigger");
  const scrollTarget = document.getElementById("scrollTarget");

  scrollTrigger.addEventListener("click", () => {
    scrollTarget.scrollIntoView({ behavior: "smooth", block: "start" });
  });
</script>
