---
import Button from "./Button.astro";

export interface Props {
  title: string;
  url: string;
  displayBacklink: boolean;
}

const { title, url, displayBacklink } = Astro.props;
---

<Button
  as="a"
  id="backButton"
  variant="tertiary"
  icon="arrowLeft"
  href={url}
  style={!displayBacklink && "display: none;"}
>
  {title}
</Button>
