---
import type { HTMLTag, Polymorphic } from "astro/types";
import { Icon } from "astro-icon/components";

export type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	variant?: "primary" | "secondary" | "tertiary" | "quaternary";
	prefixIcon?: string;
	suffixIcon?: string;
};

const {
	as: Tag = "button",
	variant,
	prefixIcon,
	suffixIcon,
	...rest
} = Astro.props;
---

<Tag class:list={["button", variant]} {...rest}>
	{prefixIcon && <Icon class="icon" name={prefixIcon} aria-hidden="true" />}
	<span class="inner"><slot /></span>
	{suffixIcon && <Icon class="icon" name={suffixIcon} aria-hidden="true" />}
</Tag>

<style lang="scss">
	@import "../styles/_imports.scss";

	:root {
		--button-color: var(--color-white);
		--button-background-color: var(--color-black);

		--button-hover-color: var(--color-green-100);
		--button-hover-background-color: var(--color-gray-800);

		--button-active-color: var(--color-green-100);
		--button-active-background-color: var(--color-black);

		--button-focus-color: var(--color-green-100);
		--button-focus-background-color: var(--color-black);
		--button-focus-outline-color: var(--color-green-100);
	}

	.button {
		@extend %button;

		&.secondary {
			--button-color: var(--color-gray-800);
			--button-background-color: var(--color-gray-50);

			--button-hover-color: var(--color-green-300);
			--button-hover-background-color: var(--color-gray-100);

			--button-active-color: var(--color-green-300);
			--button-active-background-color: var(--color-gray-100);

			--button-focus-color: var(--color-gray-900);
			--button-focus-background-color: var(--color-gray-50);
			--button-focus-outline-color: var(--color-green-100);
		}

		&.tertiary {
			--button-color: var(--color-gray-900);
			--button-background-color: var(--color-green-100);

			--button-hover-color: var(--color-white);
			--button-hover-background-color: var(--color-green-200);

			--button-active-color: var(--color-white);
			--button-active-background-color: var(--color-green-300);

			--button-focus-color: var(--color-gray-900);
			--button-focus-background-color: var(--color-green-100);
			--button-focus-outline-color: var(--color-gray-900);
		}

		&.quaternary {
			--button-color: var(--color-gray-800);
			--button-background-color: var(--color-white);

			--button-hover-color: var(--color-green-300);
			--button-hover-background-color: var(--color-gray-50);

			--button-active-color: var(--color-white);
			--button-active-background-color: var(--color-black);

			--button-focus-color: var(--color-gray-900);
			--button-focus-background-color: var(--color-white);
			--button-focus-outline-color: var(--color-green-100);
		}
	}
</style>
