---
import BackButton from "../components/BackButton.astro";

export interface Props {
  title: string;
  displayBacklink?: boolean;
  backLinkTitle?: string;
  backLinkUrl?: string;
}

const {
  title,
  displayBacklink = false,
  backLinkTitle,
  backLinkUrl,
} = Astro.props;
---

<section class="hero container">
  <BackButton
    title={backLinkTitle}
    url={backLinkUrl}
    displayBacklink={displayBacklink}
  />
  <h1 class="hero__title">{title}</h1>
</section>

<style lang="scss">
  @import "../styles/_imports.scss";

  .hero {
    display: flex;
    align-items: start;
    flex-direction: column;
    max-width: var(--max-content-width);
    height: pxToRem(420);
    background: var(--color-black);
    padding-block-end: var(--spacing-16x);

    @include breakpoint-up("lg") {
      padding-block-end: var(--spacing-20x);
    }

    &__backlink-wrapper {
      // TODO
    }

    &__title {
      @extend %typo-h1;
      color: var(--color-white);
      margin-block: auto 0;
    }
  }
</style>
