---
import { graphql } from "gql.tada";
import { client } from "../utils/graphql-client";
import SpotTeaser from "./SpotTeaser.astro";

Astro.response.headers.set(
  "Cache-Control",
  "s-maxage=60, stale-while-revalidate",
);

const query = graphql(`
  query GetHotels {
    collection: hotelCollection {
      items {
        name
        description
        link
        photo {
          src: url(transform: { width: 600, height: 600, resizeStrategy: FILL })
          alt: title
        }
      }
    }
  }
`);

const data = await client.request(query, {});
const hotels = data.collection.items;
---

<div class="column--main stack">
  <div class="markdown">
    <h2>Sleeping in Zurich</h2>
    <p>
      You can book approximately 200 hotels free of charge through Zurich
      Tourism – online or by telephone. The range includes everything from youth
      hostels to luxury hotels, rooms in the center of the Old Town, on the edge
      of Lake Zurich, or in one of Zurich’s trendy districts.
    </p>
  </div>
  {
    hotels.map((hotel) => (
      <SpotTeaser
        title={hotel.name}
        text={hotel.description}
        image={hotel.photo}
        link={hotel.link}
      />
    ))
  }
</div>

<style lang="scss"></style>
