---
import { Icon } from "astro-icon/components";

export interface Props extends HTMLLinkElement {
  icon?: boolean | string;
}

const { icon, class: className, ...rest } = Astro.props;
---

<a class={className} {...rest}>
  <slot />
  {
    icon && (
      <Icon
        name={typeof icon === "string" ? icon : "arrowRight"}
        aria-hidden="true"
      />
    )
  }
</a>

<style lang="scss">
  @import "../styles/_imports.scss";

  a {
    @extend %link;
  }

  svg {
    font-size: inherit;
  }
</style>
