<button
  id="menu-burger"
  aria-label="Menu"
  aria-controls="mobile-menu"
  aria-expanded="false"
>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</button>

<style lang="scss">
  @import "../styles/_imports.scss";

  #menu-burger {
    position: relative;
    width: pxToRem(20);
    height: pxToRem(21); // Needs to be a number that can be evenly divided by 3
    appearance: none;
    border: none;
    background: transparent;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "one" "two" "three";
    align-items: center;

    @include breakpoint-up("lg") {
      display: none;
    }

    span {
      width: 100%;
      height: pxToRem(3);
      background: var(--color-green-100);
      border-radius: 2px;
      opacity: 1;
      rotate: 0deg;
      transition: var(--transition-duration-medium)
        var(--transition-easing-default);
      transition-property: rotate, opacity;

      &:nth-child(1) {
        grid-area: one;
      }

      &:nth-child(2),
      &:nth-child(3) {
        grid-area: two;
      }

      &:nth-child(4) {
        grid-area: three;
      }
    }

    &.open {
      span {
        &:nth-child(1),
        &:nth-child(4) {
          opacity: 0;
        }

        &:nth-child(2) {
          rotate: 45deg;
        }

        &:nth-child(3) {
          rotate: -45deg;
        }
      }
    }
  }
</style>
