---
import { graphql } from "gql.tada";
import ContentLayout from "../../layouts/ContentLayout.astro";
import { client } from "../../utils/graphql-client";

const { speaker: slug } = Astro.params;

const query = graphql(`
  query GetSpeaker($slug: String!) {
    speakerCollection(limit: 1, where: { slug: $slug }) {
      items {
        name
        description
      }
    }
  }
`);

const data = await client.request(query, {
  slug: slug as string,
});

const speaker = data.speakerCollection?.items[0];

// TODO: double check if this is correct
if (!speaker || !speaker.name) {
  return {
    status: 404,
    error: "Page not found",
  };
}
---

<ContentLayout title={speaker.name} displayBacklink>
  <p>{speaker.description}</p>
</ContentLayout>
