---
import Layout from "../../layouts/Layout.astro";

const { speaker: speakerSlug } = Astro.params;

const response = await fetch(
  "https://graphql.contentful.com/content/v1/spaces/j8md9ikrag2j/environments/test?access_token=rzFgLmMrf5EspzL9QgEyOTPtIWdc-jGBIdk5GKs4Rfg",
  {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      query: `
      query GetSpeaker($slug: String!) {
        speakerCollection(limit: 1, where: {slug: $slug}) {
          items {
            name
            description
          }
        }
      }
      `,
      variables: {
        slug: speakerSlug,
      },
    }),
  }
);

const json = await response.json();
const speaker = json.data.speakerCollection.items[0];
---

<Layout title={speaker.name}>
  <h1>{speaker.name}</h1>
  <p>{speaker.description}</p>
</Layout>
